{parameters: {database: {username: root, password: root, database: clevis}, mailer: {from: spam@clevis.cz}, http: {host: localhost/work/clevis/mShop, path: /}, tests: {host: localhost, path: /work/clevis/mShop/tests/}}, nette: {application: {catchExceptions: false}}, services: {nette.mailer: {class: Mshop\Mailing\SmtpMailer({host: localhost, port: 25}), setup: [setDebugMode(false)]}}}